[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "1.1.2"
jinja2 = "2.11.2"
tweepy = "3.9.0"
psycopg2 = "2.8.6"
flask-sqlalchemy = "2.4.4"
gunicorn = "20.0.4"
scikit-learn = "0.23.2"
python-dotenv = "0.14.0"
spacy = "2.3.2"
pytest = "6.2.2"

[requires]
